﻿@{
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/ol.css"/>
<link rel="stylesheet" href="~/Content/MojCss.css" />
<style>
    div {
        text-align: center;
        align-content: center;
    }

    table {
        border: 0px solid lightgrey;
        text-align: center;
    }
   

    .map{
        height: 450px;
        width: 500px;
        margin:10px;
    }

    .razmak{
        margin-left:5px;
    }
    
    .komentari{
        color:grey;
    }
   
</style>
<title>Budo travel</title>
<div class="jumbotron" style="margin-bottom:0;">
    <div class="container">
        
                
            <h1>Budo Travel</h1>
        
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav" name="navigacija">
            <li class="active"><a href="#" id="dostupniAranzmani">Trenutni Aranzmani</a></li>
            <li><a href="#" id="sviAranzmani">Protekli Aranzmnai</a></li>
        </ul>
        <div id="loginHolder">
            <button class="btn btn-info navbar-btn btn-sm navbar-right" id="logoutButton" onclick="logout()" style="margin-right:auto;">Logout</button>
            <a href="~/Pogledi/Profil.html" class="navbar-btn navbar-right" id="profil" hidden><img src="~/Images/profil.png" height="40" width="50" /></a>
            <a href="/Pogledi/Registracija.html" class="btn btn-primary navbar-btn btn-sm navbar-right" id="registerButton">Register</a>
            <form class="navbar-form navbar-right" id="loginForm" action="/rest/user/Login">
                <input type="text" placeholder="username" class="form-control" name="username" />
                <input type="password" placeholder="password" class="form-control" name="password" />
                <input type="button" class="btn btn-info btn-sm " value="Login" onclick="login()" /><br />
                <label style="font-size:12px; color:red;" name="loginError"></label>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading" onclick="mojaFunkcija('#pretraziAranzman')">
                    Pretrazi Aranzmane
                </div>
                <div class="panel-body" hidden id="pretraziAranzman">
                    <div class="form-group">
                        <label>Naziv Aranzmana:</label>
                        <input type="text" placeholder="Aranzmana" class="form-control" name="nazivAranzmana" />
                    </div>
                    <label>Datum Polaska:</label>
                    <div class="form-inline">
                        <label>Od:</label> <input type="date" class=" form-control" name="odPolazak" /><br /><label>Do: </label><input type="date" class="form-control" name="doPolazak" />
                    </div>
                    <br />
                    <label>Datum Povratka:</label>
                    <div class="form-inline">
                        <label>Od:</label> <input type="date" class=" form-control" name="odPovratak" /><br /><label>Do:</label><input type="date" class="form-control" name="doPovratak" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Metod Prevoza:</label>
                        <select class="form-control" name="metodaPrevoza">
                            <option value=""></option>option>
                            <option value="Autobus">Autobus</option>
                            <option value="Avion">Avion</option>
                            <option value="Autobus + Avion">Autobus + Avion</option>
                            <option value="Individualno">Individualno</option>
                            <option value="Ostalo">Ostalo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Tip Aranzmana:</label>
                        <select class="form-control" name="tipAranzmana">
                            <option value=""></option>
                            <option value="Nocenje sa doruckom">Nocenje sa doruckom</option>
                            <option value="Polupansion">Polupansion</option>
                            <option value="Pun pansion">Pun pansion</option>
                            <option value="All Inclusive">All Inclusive</option>
                            <option value="Najam Apartmana">Najam Apartmana</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-info" id="aranzmanDugme">pretrazi</button>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" onclick="mojaFunkcija('#sortirajAranzmane')">
                    Sortiraj Aranzmane
                </div>
                <div class="panel-body" id="sortirajAranzmane" hidden>
                    <div class="form-group">
                        <label>Sortiraj po:</label>
                        <select class="form-control" name="aranzmanSort">
                            <option value=""></option>
                            <option value="0">Nazivu rastuce</option>
                            <option value="1">Nazivu opadajuce</option>
                            <option value="2">Datum pocetka rastuce</option>
                            <option value="3">Datum pocetka opadajuce</option>
                            <option value="4">Datum kraja rastuce</option>
                            <option value="5">Datum kraja opadajuce</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-info" id="sortirajAranzman">Sortiraj</button>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" onclick="mojaFunkcija('#pretraziSmestajForma')">
                    Pretrazi Smestaj
                </div>
                <div class="panel-body" id="pretraziSmestajForma" hidden>
                    <div class="form-group">
                        <label>Tip Smestaja:</label><br />
                        <select class="form-control" name="tipSmestaja">
                            <option value=""></option>
                            <option value="0">Hotel</option>
                            <option value="1">Motel</option>
                            <option value="2">Vila</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Naziv Smestaja:</label><br />
                        <input type="text" name="nazivSmestaja" class="form-control" placeholder="Naziv" />
                    </div>
                    <div class="form-group">
                        <label>Bazen: </label>
                        <input type="checkbox" name="bazen" />
                        <br />
                        <label>Spa Centar: </label>
                        <input type="checkbox" name="spa" />
                        <br />
                        <label>Dostupno za osobe sa invaliditetom:</label>
                        <input type="checkbox" name="dostupno" />
                        <br />
                        <label>WiFi: </label>
                        <input type="checkbox" name="wifi" />
                    </div>
                    <button type="submit" class="btn btn-block btn-info" id="pretraziSmestaj">pretrazi</button>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" onclick="mojaFunkcija('#sortirajSmestajForma')">
                    Sortiraj Smestaj
                </div>
                <div class="panel-body" id="sortirajSmestajForma" hidden>
                    <div class="form-group">
                        <select class="form-control" name="smestajSort">
                            <option value=""></option>
                            <option value="0">Naziv rastuce</option>
                            <option value="1">Naziv opadajuce</option>
                            <option value="2">Ukupan broj soba rastuce</option>
                            <option value="3">Ukupan broj soba opadajuce</option>
                            <option value="4">Broj slobodnih soba rastuce</option>
                            <option value="5">Broj slobodnih soba opadajuce</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-info" id="sortirajSmestaj">Sortiraj</button>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" onclick="mojaFunkcija('#pretraziJediniceForma')">
                    Pretrazi Smestajne Jedinice
                </div>
                <div class="panel-body" hidden id="pretraziJediniceForma">
                    <label>Cena Smestaja:</label>
                    <div class="form-inline">
                        <label>Od:</label><input type="number" class=" form-control" name="odCena" /><br /><label>Do: </label><input type="number" class="form-control" name="doCena" />
                    </div>
                    <br />
                    <label>Broj gostiju:</label>
                    <div class="form-inline">
                        <label>Od:</label> <input type="number" class=" form-control" name="odGostiju" /><br /><label>Do:</label><input type="number" class="form-control" name="doGostiju" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Dozvoljeni ljubimci</label>
                        <input type="checkbox" name="ljubimci" />
                    </div>
                    <button type="submit" class="btn btn-block btn-info" id="pretraziJedinice">pretrazi</button>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" onclick="mojaFunkcija('#sortirajJediniceForma')">
                    Sortiraj Smestajne Jedinice
                </div>
                <div class="panel-body" id="sortirajJediniceForma" hidden>
                    <div class="form-group">
                        <label>Sortiraj po:</label>
                        <select class="form-control" name="jediniceSort">
                            <option value=""></option>
                            <option value="0">Broj gostiju rastuce</option>
                            <option value="1">Broj gostiju opadajuce</option>
                            <option value="2">Cena rasutce</option>
                            <option value="3">Cena opadajuce</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-info" id="sortirajJedinice">Sortiraj</button>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Aranzmani</h3>
                </div>
                <div class="panel-body" id="aranzmani">

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ol.js"></script>
<script src="~/Scripts/Index.js"></script>