﻿div[id^="inner"] div table tr:nth-child(odd) {
    background-color: hsla(182, 96%, 70%, 0.4) !important;
}

div[id^="inner"] div table tr:nth-child(even) {
    background-color: hsla(182, 96%, 90%, 0.4) !important;
}

table div table tr {
    background-color: hsla(182, 96%, 70%, 0.4) !important;
}

.panel-default {
    border: none !important;
}
h3 {
    color: hsla(203, 100%, 25%, 1);
}
div.jumbotron {
    background-image: url("/Images/pozadina3.jpg");
    /*color: hsla(203, 100%, 50%, 1);*/
}

nav {
    background-color: hsla(203, 100%, 71%, 0.6) !important;
    border: none !important;
}

body, div.panel-body, div.panel-default > div.panel-heading {
    background-color: hsla(167, 98%, 66%, 0.1);
}

li.active > a {
    background-color: hsla(203, 100%, 71%, 1) !important;
    color: white;
}
